/* reset  */
body,header,h1,h2,p,a {margin: 0; padding: 0;}
html, body {height: 100%;}

/* body */
body    {background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);}

/* container */
.container  {position: relative; width: 100%; height: 100%; text-align: center; font-family: 'Changa One';  color: snow;}

/* layout  */
header  {height: 40%;}
main    {height: 50%; width: 100%; }
footer  {height: 10%; width: 100%; }





/* contacts */
h1  {font-size: 15vw; text-transform: uppercase; }
h2  {text-transform: uppercase; }
p   {font-size: 3vw;;}
a   {display: inline-block; font-size: inherit; line-height: 5.5vw; color:whitesmoke; text-decoration: none; }
mark{text-decoration: underline;}




/* media  */
@media (max-width: 800px){
    h1  {padding-top: 3vw; font-size: 10vw; text-transform: uppercase; }
    /* p   {margin-bottom: 5vw;} */
    a   {font-size: 3vw; }
    
}
